node_modules
dist
dist-ssr
build
.vite
*.local

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

.claude/settings.local.json

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage
.eslintcache
.cache
